body 
{
    margin: 1em 2em;
}
label
{
    float: right;
    padding-right: 2px;
}
input
{
    width: 80px;
}
table
{
    width: 400px;
}
input[readonly]
{
    border-width: 0px;
}
select
{
    width: 85px;
}
.highlight
{
    padding: 0.5em 1em;
    background-color: #E1817B;
}
h2 a, label a
{
    text-decoration: none;
    border-bottom-style: dotted;
    border-width: thin;
    border-color: #0066cc;
    color: #0066cc;
}
td .results
{
}
