body 
{
    margin: 1em 2em;
}
label
{
    float: right;
    padding-right: 2px;
}
input
{
    width: 80px;
}
table
{
    width: 400px;
}
input[readonly]
{
    border-width: 0px;
}
select
{
    width: 85px;
}
.highlight
{
    background-color: #E1817B;
}
h2 a, label a
{
    text-decoration: none;
    border-bottom-style: dotted;
    border-width: thin;
    border-color: #0066cc;
    color: #0066cc;
}
#interpretation
{
    width: 50%;
}
.riskfactor
{
    padding-right: 18px;
    background-position: right center;
    background-image: url(../images/exclamation.png);
    background-repeat: no-repeat;
}