body {
}
.calculator
{
margin: 1em 0.5em;
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 13px;

}
table
{
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 13px;
border-collapse: collapse;
}
input
{
width:8em;
}
.label
{
text-align: right;
padding-right:0.2em;
}
.button
{
width: 98%;
}
input.borderline
{
outline: none;
border-style: none;
border: 0;
background-color: #FFBE5C;
text-align: center;
}
input.mild
{
outline: none;
border-style: none;
border: 0;
background-color: #FFA929;
text-align: center;
}
input.moderate
{
outline: none;
border-style: none;
border: 0;
background-color: #FF4D4D;
text-align: center;
}
input.severe
{
background-color: #FF3333;
font-weight: bold;
text-align: center;
outline: none;
border-style: none;
border: 0;
}
input.normal
{
background-color: #B8D3FF;
text-align: center;
border-style: none;
border: 0;
outline: none;
}
input.results
{
border-style: none;
outline: none;
text-align: center;
color: #000;
background-color: #FFFFFF;
}
div.info
{
    overflow: auto;
    text-align: left;
    background-color: #FFCCCC;
    padding-left: 1em;
}
.strong
{
    font-weight: bold;
}